flows.json
[{"id":"8aa6ccd6.1bd9f","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"52cf3fd7.e2a05","type":"debug","z":"8aa6ccd6.1bd9f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":180,"wires":[]},{"id":"48e8a122.2d7f7","type":"ibmiot in","z":"8aa6ccd6.1bd9f","authentication":"apiKey","apiKey":"52759616.c0e7e8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":180,"wires":[["52cf3fd7.e2a05","5d959304.cdb64c","15be36c3.4d1059","417d2f84.5473d"]]},{"id":"417d2f84.5473d","type":"function","z":"8aa6ccd6.1bd9f","name":" object temperature","func":"global.set('objecttemp',msg.payload.d.objecttemp)\nreturn {payload:msg.payload.d.objecttemp}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":440,"wires":[["52cf3fd7.e2a05","849ca524.c83f08"]]},{"id":"15be36c3.4d1059","type":"function","z":"8aa6ccd6.1bd9f","name":"humidity","func":"global.set('humidity',msg.payload.d.humidity)\nreturn {payload:msg.payload.d.humidity}","outputs":1,"noerr":1,"initialize":"global.set('humidity'.msg.payload.d.humidity)\nreturn{payload.msg.payload.d.humidity}","finalize":"","x":400,"y":360,"wires":[["52cf3fd7.e2a05","a1ebca86.071828"]]},{"id":"5d959304.cdb64c","type":"function","z":"8aa6ccd6.1bd9f","name":"temperature","func":"global.set('temperature',msg.payload.d.temperature)\nreturn {payload:msg.payload.d.temperature}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":280,"wires":[["52cf3fd7.e2a05","b7510908.e085e8"]]},{"id":"b7510908.e085e8","type":"ui_gauge","z":"8aa6ccd6.1bd9f","name":"temperature","group":"9827c348.9c753","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"c","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":260,"wires":[]},{"id":"a1ebca86.071828","type":"ui_gauge","z":"8aa6ccd6.1bd9f","name":"humidity","group":"9827c348.9c753","order":1,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":360,"wires":[]},{"id":"849ca524.c83f08","type":"ui_gauge","z":"8aa6ccd6.1bd9f","name":"object temperature","group":"9827c348.9c753","order":2,"width":0,"height":0,"gtype":"gage","title":"object temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":420,"wires":[]},{"id":"bd42ba47.f2e948","type":"http in","z":"8aa6ccd6.1bd9f","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":200,"y":560,"wires":[["9a8aec46.9ba2d"]]},{"id":"ef8a72d.3eafa9","type":"http response","z":"8aa6ccd6.1bd9f","name":"","statusCode":"","headers":{},"x":650,"y":560,"wires":[]},{"id":"9a8aec46.9ba2d","type":"function","z":"8aa6ccd6.1bd9f","name":"httpresponse","func":"msg.payload={\"temperature\":global.get('temprature'),\"humidity\":global.get('humidity'),\"objecttempe\":global.get('objecttempe')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":660,"wires":[["ef8a72d.3eafa9"]]},{"id":"e640d92a.c21368","type":"ui_button","z":"8aa6ccd6.1bd9f","name":"on","group":"9827c348.9c753","order":3,"width":0,"height":0,"passthru":false,"label":"on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"on\"}","payloadType":"json","topic":"","x":171,"y":780,"wires":[["fc230b7e.ea94b8","7d74a50b.f03a4c"]]},{"id":"518bda7d.ebf094","type":"ui_button","z":"8aa6ccd6.1bd9f","name":"off","group":"9827c348.9c753","order":4,"width":0,"height":0,"passthru":false,"label":"off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"off\"}","payloadType":"json","topic":"","x":180,"y":880,"wires":[["fc230b7e.ea94b8","7d74a50b.f03a4c"]]},{"id":"fc230b7e.ea94b8","type":"debug","z":"8aa6ccd6.1bd9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":820,"wires":[]},{"id":"a0ee517a.c0ea3","type":"http in","z":"8aa6ccd6.1bd9f","name":"","url":"/message","method":"get","upload":false,"swaggerDoc":"","x":160,"y":1000,"wires":[["8172225e.12e27"]]},{"id":"738c0e5f.03391","type":"http response","z":"8aa6ccd6.1bd9f","name":"","statusCode":"","headers":{},"x":650,"y":1020,"wires":[]},{"id":"8172225e.12e27","type":"function","z":"8aa6ccd6.1bd9f","name":"commands","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1020,"wires":[["738c0e5f.03391","7400a352.9ac40c","7d74a50b.f03a4c"]]},{"id":"7400a352.9ac40c","type":"debug","z":"8aa6ccd6.1bd9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":1100,"wires":[]},{"id":"7d74a50b.f03a4c","type":"ibmiot out","z":"8aa6ccd6.1bd9f","authentication":"apiKey","apiKey":"52759616.c0e7e8","outputType":"cmd","deviceId":"12345","deviceType":"NodeMCU","eventCommandType":"cold","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":660,"y":1200,"wires":[]},{"id":"52759616.c0e7e8","type":"ibmiot","name":"ibmiot1","keepalive":"5","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"9827c348.9c753","type":"ui_group","name":"cold storage","tab":"c04e7a80.a4f788","order":1,"disp":true,"width":"6","collapse":false},{"id":"c04e7a80.a4f788","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]